Notes.txt
callgrind.out.*
cachegrind.out.*
asm_output/
cmake_install.cmake
CMakeCache.txt
CMakeFiles
snapshots
tests/tests.h
tests/bench.h
test_*
Notes*
*.gcov
result.txt
memstat.h
.cache
compile_commands.json
